@using LikeIt.Web.ViewModels
@using PagedList.Mvc;
@model PagedList.IPagedList<LikeIt.Web.ViewModels.Page.ListPagesViewModel>

@section styles {
    @Styles.Render("~/Content/pagedlist")
}

@{
    ViewBag.Title = "My Likes";
}

<h2>@ViewBag.Title</h2>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="pull-right">
            @Html.DisplayFor(b => b, "CreatePageButton")
        </div>         
            <h4>Added by Me</h4>
            @Html.ActionLink("Liked By Me", "LikedByMe", "MyLikes", new { }, new { @class = "" }) |
            @Html.ActionLink("Disliked By Me", "DislikedByMe", "MyLikes", new { }, new { @class = "" })
            <p>
                <div class="row">
                    @using (Html.BeginForm("Index", "MyLikes", FormMethod.Get))
                    {
                        @Html.Partial("~/Views/Shared/_SearchPartial.cshtml")
                    }
                </div>
                <br />
            </p>
            @using (Ajax.BeginForm("Index", "MyLikes", new AjaxOptions
{
    HttpMethod = "GET",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "all-pages",
}))
            {
                @Html.DisplayFor(p => p, "ListPages")
            }
        </div>
</div>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, currentFilter = ViewBag.CurrentFilter }))

@section footer {
    <div class="row">
        <div class="col-md-12">
            @Html.ActionLink("Liked By Me", "LikedByMe", "MyLikes", new { }, new { @class = "" }) |
            @Html.ActionLink("Disliked By Me", "DislikedByMe", "MyLikes", new { }, new { @class = "" })
        </div>
    </div>

}