@using LikeIt.Web.ViewModels
@model IEnumerable<LikeIt.Web.ViewModels.Page.ListPagesViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Likes</h2>
<div class="panel panel-default">
    <div class="panel-body">
        <p>
            @Html.ActionLink("Add New Like", "Create")
        </p>
        <div class="row">
            @foreach (var page in Model)
            {
                <div class="col-md-12">
                    <div class="thumbnail" style="background-image: url('@(page.Image != null ? @Url.Action("Image", "Page", new { id = page.Image.Id }) : Url.Content("~/Images/default.png"))')">
                        <a href="~/Page/Details/@page.Id">
                            <div class="row">
                                <div class="col-md-10">
                                    @Html.DisplayFor(p => page.Name, "PageHeading")
                                    @Html.DisplayFor(p => page.CategoryName, "CategoryName")
                                </div>
                                <div class="col-md-2 votes-container">
                                    @{Html.RenderAction("GetVotesPartial", new { id = page.Id });}
                                </div>              
                            </div>
                            <div class="row">
                                <div class="col-md-12 pull-left">
                                    <div class="bottom">
                                        @Html.Partial("~/Views/Shared/_TagsPartial.cshtml", page.Tags)
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>