@using LikeIt.Web.ViewModels
@using PagedList.Mvc;
@model PagedList.IPagedList<LikeIt.Web.ViewModels.Page.ListPagesViewModel>

@section styles {
    @Styles.Render("~/bundles/pagedlist")
}

@{
    ViewBag.Title = "Pages";
}

<h2>Likes</h2>
<div class="panel panel-default">
    <div class="panel-body">
        <div>
            <div class="pull-right">
                @Html.DisplayFor(b => b, "CreatePageButton")
            </div>
            <div class="row">
                @Html.Partial(LikeIt.Common.GlobalConstants.SearchPartial)
            </div>
            <div class="row">
                @{Html.RenderAction("GetCategoriesPartial");}
            </div>
        </div>
        <div class="row text-center" id="all-pages">
            @Html.Partial(LikeIt.Common.GlobalConstants.PagesListPartial, Model)
            @Html.Partial(LikeIt.Common.GlobalConstants.PagingPartial, Model)
        </div>
        <div id="ajax-search-results"></div>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/custom")
}