@using LikeIt.Web.ViewModels.Comment
@model LikeIt.Web.ViewModels.Page.DetailsPageViewModel

@{
    ViewBag.Title = "Like a Random";
}

<div class="pull-right">
    @Html.ActionLink("Pick Another Page", "Random", "Page", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
</div>

<h2>Like this page?</h2>
<p>Vote below, leave a comment or @Html.ActionLink("pick another one", "Random", "Page", new { area = "" }, new { @class = "" })!</p>

@Html.Partial(LikeIt.Common.GlobalConstants.PageDetails)

@section scripts {
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/jqueryval")
}