<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LikeIt</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/bundles/bootstrap-css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/bundles/kendo-css")
    @RenderSection("styles", required: false)
    @*@Styles.Render("~/bundles/custom-css")*@
    <link type="text/css" href="~/Content/Site.css" rel="stylesheet" media="all">
</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("LikeIt", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { })</li>
                    @*<li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { })</li>*@
                    <li>@Html.ActionLink("Browse Likes", "Index", "Page", new { area = "" }, new { })</li>
                    <li>@Html.ActionLink("Like a Random", "Random", "Page", new { area = "" }, new { })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
            @Html.Partial("~/Areas/Administration/Views/Shared/_AdminPartial.cshtml")
        </div>
    </div>
    <div class="container body-content">
        <div class="sidebar">
        </div>
        @RenderBody()
        @RenderSection("footer", required: false)
        <hr />
        <footer class ="text-center">
            <span>&copy; @DateTime.Now.Year - LikeIt - An ASP.NET Application Project for Telerik Academy</span>
            <span class="pull-right"><a href="https://github.com/svetlai/LikeIt/" target="_blank">View the source code</a></span>
        </footer>
    </div>
    @Scripts.Render("~/bundles/kendo")
    @RenderSection("scripts", required: false)
</body>
</html>
