@model LikeIt.Web.ViewModels.VotesViewModel
<div id="page-rating">
    <div class="panel panel-default pull-right transparent-background votes-container">
        <div class="panel-body bottom-right">

            <div class="row">
                <div class="col-md-8">
                    <div class="likes-count">@Model.Rating</div>
                </div>
                <div class="col-md-4 right-padding">

                    @Ajax.ActionLink(" ", "Like", "Votes", new { id = Model.PageId },
            new AjaxOptions
           {
               HttpMethod = "POST",
               InsertionMode = InsertionMode.Replace,
               UpdateTargetId = "page-rating"
           }, new { @class = "glyphicon glyphicon-thumbs-up" })
                    @Ajax.ActionLink(" ", "Dislike", "Votes", new { id = Model.PageId },
            new AjaxOptions
           {
               HttpMethod = "POST",
               InsertionMode = InsertionMode.Replace,
               UpdateTargetId = "page-rating"
           }, new { @class = "glyphicon glyphicon-thumbs-down" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <span class="pull-left">@Model.LikesCount Likes </span>
                    <span class="pull-right">@Model.DislikesCount Dislikes</span>
                </div>
            </div>
        </div>
    </div>
</div>