@using Microsoft.AspNet.Identity
@if (User.IsInRole(LikeIt.Common.GlobalConstants.AdminRole))
{
    <div class="panel panel-default">
        <div class="navbar-header">
            <span class="navbar-brand">Admin Panel</span>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <span class="navbar-brand">Manage: </span>           
            <li>@Html.ActionLink("Pages", "Index", "Pages", new { area = "Administration" }, new { })</li>
            <li>@Html.ActionLink("Comments", "Index", "Comments", new { area = "Administration" }, new { })</li>
            <li>@Html.ActionLink("Categories", "Index", "Categories", new { area = "Administration" }, new { })</li>
            <li>@Html.ActionLink("Tags", "Index", "Tags", new { area = "Administration" }, new { })</li>
            <li>@Html.ActionLink("Likes", "Index", "Likes", new { area = "Administration" }, new { })</li>
            <li>@Html.ActionLink("Dislikes", "Index", "Dislikes", new { area = "Administration" }, new { })</li>
            <li>@Html.ActionLink("Users", "Index", "Users", new { area = "Administration" }, new { })</li>
            <li>@Html.ActionLink("Roles", "Index", "Roles", new { area = "Administration" }, new { })</li>
        </ul>
    </div>
}