@using LikeIt.Web.ViewModels
@using PagedList.Mvc;
@model PagedList.IPagedList<LikeIt.Web.ViewModels.Page.ListPagesViewModel>

@section styles {
    @Styles.Render("~/Content/pagedlist")
}

@{
    ViewBag.Title = "My Dislikes";
}

<h2>@ViewBag.Title</h2>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="pull-right">
            @Html.DisplayFor(b => b, "CreatePageButton")
        </div>
        <h4>Disliked by Me</h4>
        @Html.ActionLink("Added By Me", "Index", "MyPages", new { }, new { @class = "" }) |
        @Html.ActionLink("Liked By Me", "Index", "MyLikes", new { }, new { @class = "" })
        <div>
            <div class="row">
                @Html.Partial(LikeIt.Common.GlobalConstants.SearchPartial)
            </div>
            <div class="row">
                @{Html.RenderAction("GetCategoriesPartial");}
            </div>
        </div>
        <div class="row text-center" id="all-pages">
            @Html.Partial(LikeIt.Common.GlobalConstants.PagesListPartial, Model)
            @Html.Partial(LikeIt.Common.GlobalConstants.PagingPartial, Model)
        </div>
        <div id="ajax-search-results"></div>
    </div>
</div>

@section footer {
    <div class="row">
        <div class="col-md-12">
            @Html.ActionLink("Added By Me", "Index", "MyPages", new { }, new { @class = "" }) |
            @Html.ActionLink("Liked By Me", "Index", "MyLikes", new { }, new { @class = "" })
        </div>
    </div>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/custom")
}
